{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "eol-last": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2,
    "strict": [
      0,
      "global"
    ],
    "func-names": 0,
    "object-shorthand": 0,
    "consistent-return": 0,
    "prefer-template": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
